<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/login-style.css">
    <title>Proyecto Netflix</title>
</head>

<body>
    <header>
        <a href="#" class="logo">
            <img src="/images/logo.png" alt="" id="nav-logo">
        </a>
    </header>

    <div class="bg">
        <div class="contenido">
            <form action="">
                <h1>Inicia sesión</h1>
                <input type="text" name="email" id="inputform" placeholder="Email o número de teléfono" required>
                <input type="password" name="password" id="inputform" placeholder="Contraseña" required>
            </form>

            <button class="login">
                Iniciar Sesión
            </button>
            <div class="remember-me">
                <input type="checkbox" id="recuerdametxt"> Recuérdame
                <a href="#" id="recuerdametxt" style="text-decoration: none">¿Necesitas ayuda?</a>
            </div>

            <div class="contenidobajo">
                <div id="txtlabel">
                    <label for="">¿Primera vez en Netflix?</label>
                    <a href="#">Suscribete ahora</a>
                </div>

                <div id="txtlabel">
                    <label for="">Esta página está protegida por Google reCAPTCHA para comprobar que no eres un robot.
                        <a href="">Más info.</a>
                    </label>
                </div>
            </div>
        </div>
    </div>

</body>

</html>